html {
    font-size: 100%;
}

.post.items {
    max-width: 600px;
}

.post.items .item {
    margin: 0 25px 50px 25px;
    padding: 25px 45px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.post.items .item > * {
    margin-bottom: 10px;
}

.post.items .item header {
    margin-bottom: 20px;
}

.post.items .item header h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.post.items .item .body {
    text-align: center;
}

.post.items .item .body > * {
    width: 100%;
}

.post.items .item .src {
    font-size: 0.75rem;
}

.post.items .item .src a > * {
    display: inline-block;
    vertical-align: middle;
}

.post.items .item .src img {
    max-width: 1rem;
    max-height: 1rem;
    margin-right: 5px;
}